{% extends 'base.html.twig' %}

{% block title %}PhoneBook{% endblock %}

{% block body %}
    <h1>PhoneBook</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ phone_book.id }}</td>
            </tr>
            <tr>
                <th>Full_name</th>
                <td>{{ phone_book.fullName }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ phone_book.phone }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('phone_book_index') }}">back to list</a>

    <a href="{{ path('phone_book_edit', {'id': phone_book.id}) }}">Изменить</a>

    {{ include('phone_book/_delete_form.html.twig') }}
{% endblock %}
